/*
RESET CSS
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Fin du reset css*/

/* Version desktop */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* display: flex;
    flex-direction: column; */
}

/* Section top menu */
.top {
    background-color: #fcb900;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;

}

.top a {
    padding-left: 18px;
    font-size: 20px;
    font-weight: bold;
    color: #401626;
}

/* Section menu */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

nav a {
    font-size: 24px;
    padding-left: 20px;
    color: #666666;
    font-weight: bold;
}

nav a img {
    width: 20vw;
    height: auto;
}

/* Section footer */
    /* Section bottom */
    .bottom {
        display: flex;
        justify-content: center;
        padding: 10px 40px;
        background-color: #3383ff;
        color: white;
    }

    .bottom a {
        font-size: min(1.5vw, 24px);
        color: white;
        font-weight: 500;
        padding: 0px 20px;
    }

    /* Section info */
    .info {
        background-color: #ee9322;
        display: flex;
        padding-bottom: 15px;
    }

    .column {
        flex: 33%;
        display: flex;
        flex-direction: column;
    }

    .column h2 {
        color: white;
        font-weight: 500;
        font-size: min(3vw, 32px);
        margin-bottom: 0.5em;
    }

    .column p1 {
        font-weight: 650;
        font-size: min(2vw, 20px);
    }

    .column p2 {
        font-weight: 400;
        font-size: min(2vw, 20px);
    }

    .column span {
        margin: 10px 0px;
        line-height: 20px;
    }

    #element {
        padding-top: 40px;
    }

    #GoogleMaps {
        justify-content: center;
        align-items: center;
    }

    .media a {
        padding-right: 15px;
    }

    /* Section appel à Dyna */
    .panelContact {
        background-color: #fcb900;
        display: flex;
        justify-content: space-evenly;
        border-radius: 10px;
        padding: 5% 0;
        margin: 0 10%;
        z-index: 10;
        position: relative;
        margin-bottom: -20px;
        margin-top: 50px;
    }

    .panelContact p {
        color: white;
        font-size: min(2.5vw, 32px);
        font-weight: 500;
    }

    .panelContact a button {
        background-color: white;
        border: none;
        border-radius: 3px;
        color: #fcb900;
        padding: 5px 30px;
        font-size: min(2vw, 28px);
        cursor: pointer;
    }

    .panelContact a button:hover {
        background-color: rgb(240, 240, 240);
        text-align: center;
        font-size: min(2vw, 28px);
    }

/* Section main accueil */

    .thanks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .thanks a img {
        width: 150px;
        height: auto;
    }