/*________________________________________________________*/
/*-------------------⇩-⇩ MAIN INDEX ⇩-⇩-------------------*/

/*---- Logos greetings ----*/
.thanks {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.thanks img {
  width: 300px;
  height: 250px;
  object-fit: contain;
}

.oops {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline #fcb900 5px;
  line-height: 70px;
  float: left;
  width: 49%;
  padding: 100px 0px;
}

/*------ Ecoles/Associations ------*/
/*---- collaboration ----*/

.blockTop {
  text-align: center;
  width: 920px;
  margin: 200px auto; /* à modifier (200px) une fois le figma fini*/
  box-shadow: 0px 0px 10px rgb(141, 140, 140);
}

.blockTop .blockTopImg {
  position: relative;
  width: 788px;
  margin: auto;
  box-shadow: 0px 25px 20px -20px rgb(175, 175, 175);
  padding-bottom: 580px;
}

.blockTopImg img {
  position: absolute;
  width: 788px;
  top: -250px;
  left: 0;
  right: 0;
}

.blockTopText h2 {
  font-size: 36px;
  margin: 50px 0 30px 0;
  font-weight: 600;
}

.blockTopText .underlineCenter {
  width: 55%;
  margin-bottom: 30px;
}

 .blockTopText p {
  font-size: 18px;
  line-height: 34px;
  margin: 30px 160px;
  padding-bottom: 30px;
  text-align: justify;
}


/*---- activitées ----*/
.activities {
  margin: 80px;
  text-align: center;
}

.activities h2 {
  font-size: 36px;
  margin: 50px 0px;
  padding: 50px 80px;
  font-weight: 600;
  text-align: justify;
}

.activitiesBlockImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 68px;
}

.activities .activitiesBlockImg img {
  width: 533px;
  height: auto;
  margin: 20px;
}