/*________________________________________________________*/
/*-------------------⇩-⇩ MAIN INDEX ⇩-⇩-------------------*/

/*---- Logos greetings ----*/
.thanks {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.thanks img {
  width: 300px;
  height: 250px;
  object-fit: contain;
}

.oops {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline #fcb900 5px;
  line-height: 70px;
  float: left;
  width: 49%;
  padding: 100px 0px;
}

/*------ Ecoles/Associations ------*/

/*---- activitées ----*/
.activities {
  margin: 80px;
  text-align: center;
}

.activities h2 {
  font-size: 36px;
  margin: 50px 0px;
  padding: 50px 80px;
  font-weight: 600;
  text-align: justify;
}

.activitiesBlockImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 68px;
}

.activities .activitiesBlockImg img {
  width: 533px;
  height: auto;
  margin: 20px;
}