/*_______________________________________________________________*/
/*-------------------⇩-⇩ STYLE ALL BLOCK ⇩-⇩-------------------*/

.blockTop, .blockLeft, .blockRight {
  margin: 250px 0 0;
  padding: 50px 0;
}

.blockCenter {
  margin: 150px 0 0;
  padding: 50px 0;
}

@media screen and (min-width: 1890px) {
  .blockTop, .blockLeft, .blockRight {
    margin: 350px 0 0;
  }
  
  .blockCenter {
    margin: 150px 0 0;
  }

  .blockLeft div:first-child, .blockRight div:last-child {
    width: 55% !important;
  }
}

/*______________________________________________________________*/
/*-------------------⇩-⇩ STYLE BLOCK TOP ⇩-⇩-------------------*/

.blockTop {
  text-align: center;
  width: 920px;
  box-shadow: 0px 0px 10px rgb(141, 140, 140);
}

.blockTop .blockTopImg {
  position: relative;
  width: 788px;
  margin: auto;
  box-shadow: 0px 25px 20px -20px rgb(175, 175, 175);
  padding-bottom: 580px;
}

.blockTopImg img {
  position: absolute;
  width: 788px;
  top: -250px;
  left: 0;
  right: 0;
}

.blockTopText h2 {
  font-size: 36px;
  margin: 50px 0 30px 0;
  font-weight: 600;
}

.blockTopText .underlineCenter {
  width: 55%;
  margin-bottom: 30px;
}

 .blockTopText p {
  font-size: 18px;
  line-height: 34px;
  margin: 30px 160px;
  padding-bottom: 30px;
  text-align: justify;
}


/*______________________________________________________________*/
/*-------------------⇩-⇩ STYLE BLOCK LEFT ⇩-⇩-------------------*/

.blockLeft {
  box-shadow: 0.5px 0.5px 50px rgb(215, 215, 215);
  width: 90%;
  display: flex;
  position: relative;
}

.blockLeft div:first-child {
  margin-left: 5%;
  width: 40%;
}

.blockLeft h2 {
  font-size: 55px;
}

.blockLeft p {
  color: #666666;
  font-size: 24px;
  text-align: justify;
  line-height: 34px;
}

.blockLeft div:last-child img {
  position: absolute;
  width: 788px;
  height: 536px;
  bottom: 200px;
  right: -11%;
}

.blockLeft article {
  margin: 30px 0px;
  display: flex;
  justify-content: end;
}

/*_______________________________________________________________*/
/*-------------------⇩-⇩ STYLE BLOCK RIGHT ⇩-⇩-------------------*/

.blockRight {
  margin-left: auto;
  width: 90%;
  display: flex;
  justify-content: end;
  position: relative;
  background-color: #d9d9d9;
  align-self: end;
}

.blockRight div:last-child {
  margin-right: 5%;
  width: 40%;
}

.blockRight h2 {
  font-size: 55px;
}

.blockRight p {
  color: #666666;
  font-size: 24px;
  text-align: justify;
  line-height: 34px;
}

.blockRight div:first-child img {
  position: absolute;
  width: 788px;
  height: 536px;
  bottom: 200px;
  left: -11%;
}

.blockRight article {
  margin: 30px 0px;
  display: flex;
  justify-content: end;
}

/*________________________________________________________________*/
/*-------------------⇩-⇩ STYLE BLOCK CENTER ⇩-⇩-------------------*/

.blockCenter {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
}

.blockCenter div:first-child {
  text-align: center;
}

.blockCenter div:last-child {
  display: flex;
  flex: 33%;
  flex-direction: row;
  text-align: center;
}

.blockCenter h2 {
  font-size: 55px;
  padding: 10px 0px 25px;
}

.blockCenter p {
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
  padding: 25px 40px;
}

.blockCenter img {
  width: 120px;
  height: auto;
}
