/*_________________________________________________________________________*/
/*-------------------⇩-⇩ BLOCKIMG_PROJECTSACTIVITIES ⇩-⇩-------------------*/


/*---- activities ----*/

/* .activities {
    margin: 80px;
    text-align: center;
  }
  
  .activities h2 {
    font-size: 36px;
    margin: 50px 0px;
    padding: 50px 80px;
    font-weight: 600;
    text-align: justify;
  }
  
  .activitiesBlockImg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px 68px;
  }
  
  .activities .activitiesBlockImg img {
    width: 533px;
    height: auto;
    margin: 20px;
  } */


  /*---- projects ----*/