/*_____________________________________________________________*/
/*-------------------⇩-⇩ HEADER & FOOTER ⇩-⇩-------------------*/

/*---------------⇩-⇩ HEADER ⇩-⇩---------------*/
/*---- (Début) Style nav fix ----*/
/* header {
  position: fixed;
  background: #ffffff;
  z-index: 2000;
  width: 100%;
}
main {
  padding-top: 20vh;
} */
/*---- (Fin) Style nav fix ----*/

/* (début) NAVIGATION effect*/
nav ul li a {
  padding: 8px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}
.stroke ul li a, .stroke span ul li a {
  position: relative;
}
.stroke ul li a:after, .stroke span ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #fcb900;
  height: 3px;
}
.stroke ul li a:hover:after, .stroke span ul li a:hover:after {
  width: 100%;
}
/* (fin) NAVIGATION effect*/

/*---- top nav ----*/
.topNav {
  background-color: #fcb900;
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: end;
}

.topNav .ulTopNav {
  display: flex;
  flex-direction: row;
}

.topNav a {
  margin: 0 80px 0 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.topNav .icon {
  width: 24px;
  height: 24px;
  padding-right: 10px;
}

/*---- menu ----*/

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.mainNav .ulMainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.mainNav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 50px;
}
.mainNav li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainNav li a img{
  padding: 0 0 10px 0;
}

.mainNav .icon {
  width: 24px;
  height: 24px;
}

.mainNav a {
  font-size: 18px;
  padding-top: 5px;
  font-weight: 600;
  color: #666666;
}

.mainNav a img {
  width: 65px;
  height: 65px;
  padding: 20px 0 20px 100px;
}

/*---------------⇩-⇩ FOOTER ⇩-⇩---------------*/

/*---- Logos greetings (footer) ----*/
.thanks {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.thanks img {
  width: 300px;
  height: 250px;
  object-fit: contain;
}

.oops {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline #fcb900 5px;
  line-height: 70px;
  float: left;
  width: 49%;
  padding: 100px 0px;
}

/*---- panelContact (footer) ----*/
.panelContact {
  position: relative;
  z-index: 10;
  display: flex;
  width: 852px;
  height: 136px;
  justify-content: space-evenly;
  padding: 0 25px;
  border-radius: 10px;
  margin: 50px auto -30px auto;
  background-color: #fcb900;
}

.panelContact p {
  margin: auto;
  color: white;
  font-size: 19px;
  font-weight: 500;
}

.panelContact article {
  margin: auto;
  padding: auto;
  text-align: center;
}

.panelContact a button {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #fcb900;
  padding: 13px 40px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.panelContact a button:hover {
  background-color: rgb(240, 240, 240);
  text-align: center;
  font-size: 28px;
}

/*---- info (footer) ----*/
.block_infoUnderlineFooter {
  background-color: #ee9322;
  height: 416px;
}

.blockInfo {
  display: flex;
}

.column {
  flex: 33%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}

.column h2 {
  color: white;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 1em;

}

.column .h2Special {
  margin-bottom: 1.5em;
}

.column p1 {
  font-weight: 800;
  font-size: 16px;
  line-height: 3rem;
}

.column p2 {
  font-weight: 400;
  font-size: 16px;
}

.column span {
  margin: 10px 0px;
  line-height: 20px;
}

#element {
  padding-top: 40px;
}

#GoogleMaps {
  margin: auto 170px auto 150px;
  padding-top: 50px;
  width: 300px;
  height: 225px;
  align-items: center;
}

#GoogleMaps img{
  width: 300px;
  height: 225px;
  object-fit: cover;
}

@media screen and (min-width: 1890px) {
  #GoogleMaps {
    width: 400px;
    height: 225px;
  }
  
  #GoogleMaps img{
    width: 400px;
    height: 225px;
    object-fit: cover;
  }
}

.media {
  padding-top: 18px;
}

.media a {
  padding-right: 15px;
}

.blockUnderlineFooter {
  width: 88%;
  margin: auto;
  text-align: center;
}

.blockUnderlineFooter .underlineFooter {
  border-style: none;
  width: 88%;
  height: 1px;
  border-radius: 0.5px;
  background: black;
}

.blockUnderlineFooter p {
  padding: 20px;
  font-size: 16px;
  color: #ffffff;
}


/*---- legalNotice (footer) ----*/
.legalNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background-color: #3383ff;
  color: white;
}

.legalNotice a {
  font-size: min(1.5vw, 24px);
  color: white;
  font-weight: 500;
  padding: 0px 20px;
}
